.dashb-root {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% auto;
  width: 90%;
  min-width: 300px;

  padding: 1.5em;

  background-color: rgba(255, 255, 255 ,1);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.6);
}

.a-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  padding: 0.7em;
  background-color: rgba(255, 80, 80, 0.8);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.a-link:hover {
  background-color: rgba(255, 80, 80, 1);
  color: rgba(255, 255, 255, 1);
}

.dashb-table {
  font-size: 0.7em;
  border-collapse: collapse;

}

.dashb-table th, tr, td {
  padding: 0.6em;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
