.login-root {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;

  width: 90%;
  max-width: 500px;
  min-width: 250px;
  margin: 7% auto;
  padding: 2em;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 1);
}

.login-root form {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.login-root form input {
  padding: 1em;
  margin-top: 1em;
}

.login-avatar {
  width: 100%;
}
.login-avatar img {
  display: block;
  margin: 0 auto;
  width: 70%;
  max-width: 250px;
  min-width: 100px;
}
