body {
  margin: 0;
  padding: 0;
  background-color: rgba(242, 242, 242, 0.5);
}

* {
  box-sizing: border-box;
}


.bt-m {
  padding: 0.7em;

  border: 0px;
  background-color: rgba(0, 102, 255, 0.7);
  color: rgba(255 ,255, 255, 0.8);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.bt-m:hover {
  background-color: rgba(0, 102, 255, 1);
}
